*
!.gitignore
!.gitmodules
!system/
!elmsln-logos/
!instances/
!instances/_development/
!instances/_development/config-example/
!instances/_development/config-vagrant/
!instances/_development/config-travis-ci/
.vagrant
.DS_Store
