*
!.gitignore
!.gitmodules
!system/
!elms-styles
!elmsln-logos
!instances/
!instances/_development/
!instances/_development/config-example/
!instances/_development/config-vagrant/
!instances/_development/config-travis-ci/
!developer_scripts/
.vagrant
.DS_Store
