[submodule "elmsln"]
    path = system
    url = https://github.com/elmsln/elmsln.git
[submodule "elmsln-vagrant"]
    path = vagrant
    url = https://github.com/elmsln/elmsln-vagrant.git
[submodule "elmsln-config-example"]
    path = instances/_development/config-example
    url = https://github.com/elmsln/elmsln-config-example.git
[submodule "elmsln-config-vagrant"]
    path = instances/_development/config-vagrant
    url = https://github.com/elmsln/elmsln-config-vagrant.git
[submodule "elmsln-config-travis-ci"]
    path = instances/_development/config-travis-ci
    url = https://github.com/elmsln/elmsln-config-travis-ci.git
[submodule "elms-styles"]
	path = elms-styles
	url = https://github.com/elmsln/elms-styles.git
[submodule "elmsln-logos"]
	path = elmsln-logos
	url = https://github.com/elmsln/elmsln-logos.git
